* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overflow-x: clip;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

h3 {
    padding-top: 7%;
    font-weight: 800;
}

h2 {
    padding-top: 22%;
}

header {
    width: 100%;
    /* height: 160vh; */
}

/* NAV */
nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(201, 173, 167, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    /* top: 0; */
    z-index: 100;
}

nav .logo {
    width: 25%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
    margin: 2.5%;
}

nav .menu {
    width: 40%;
    display: flex;
    font-size: 1.5rem;
    margin: 2.5%;
    text-align: center;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.4s;
}

nav .menu a:hover {
    transform: scale(1.1);
    background-color: rgba(154, 140, 152, 0.75);
    text-shadow: 1px 1px 1px black;
}

@media (max-width: 1100px) {
    nav .menu {
        display: none;
    }

    nav .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    body {
        width: 100%;
    }
}

/* NAV */

main {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */
}

/* ABOUT */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15%;
    /* width: 100%; */
}

.name {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    overflow-x: visible;
}

.name h2 {
    font-weight: 700;
    font-size: 3rem;
    /* border-bottom: 3px solid black; */
    letter-spacing: 2px;
    /* margin-left: 10%; */
}

.text-shadow-pop-br {
    -webkit-animation: text-shadow-pop-br .6s both;
    animation: text-shadow-pop-br .6s both
}

@-webkit-keyframes text-shadow-pop-br {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }

    100% {
        text-shadow: 1px 1px #555, 2px 2px #555, 3px 3px #555, 4px 4px #555, 5px 5px #555, 6px 6px #555, 7px 7px #555, 8px 8px #555;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px)
    }
}

@keyframes text-shadow-pop-br {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }

    100% {
        text-shadow: 1px 1px #555, 2px 2px #555, 3px 3px #555, 4px 4px #555, 5px 5px #555, 6px 6px #555, 7px 7px #555, 8px 8px #555;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px)
    }
}

.resume {
    text-align: center;
    border: 1px solid #6c584c;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 35px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #a98467;
    color: black;
}

.vibrate-2 {
    -webkit-animation: vibrate-2 .3s linear infinite both;
    animation: vibrate-2 .3s linear infinite both
}

@-webkit-keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px)
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px)
    }

    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px)
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px)
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px)
    }

    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px)
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.about h3 {
    margin: 8% 2% 0 2%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.about p {
    margin-left: 2%;
    font-size: 1rem;
    text-align: center;

}

/* ABOUT */


/* SKILLS */
.about-name {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.skill-row {
    margin: auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.ho {
    cursor: pointer;
    transition: 0.6s;
}

.ho:hover {
    transform: translate(0, -10px);
}

.ho1:hover {
    color: #e34c26;
}

.ho2:hover {
    color: #2965f1;
}

.ho3:hover {
    color: #f0db4f;
}

.ho4:hover {
    color: #563d7c;
}

.ho5:hover {
    color: #4287f5;
}

.ho6:hover {
    color: #F1502F;
}

.items {
    margin: 2%;
    font-size: 10rem;
}


/* SKILLS */

/* WORK */
.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15%;
    /* width: 100%; */
}

.work h3 {
    margin: 0 2% 2% 2%;
    text-align: start;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.work p {
    margin-left: 2%;
    font-size: 1rem;
    text-align: center;
}

.contact-box h3 {
    margin: 2%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* WORK */
/* ANIMTE */
.aos {
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.project-1 a {
    display: block;
    border: 1px solid black;
    text-align: center;
    margin-left: 45%;
    margin-top: 3%;
    width: 115px;
    height: 25px;
    border-radius: 10px;
}

.aos img {
    border-radius: 15px;
}

a {
    text-decoration: none;
    transition: 0.6s;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}

.ao a:hover,
.ao a:focus {
    background-color: #BFACE0;
}

.project-2 a {
    display: block;
    border: 1px solid black;
    text-align: center;
    margin-left: 35%;
    margin-top: 3%;
    width: 115px;
    height: 25px;
    border-radius: 10px;
}

.project-3 a {
    display: block;
    border: 1px solid black;
    text-align: center;
    margin-left: 35%;
    margin-top: 3%;
    width: 115px;
    height: 25px;
    border-radius: 10px;
}

.pro-1 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .aos {
        display: flex;
        flex-direction: column;
    }

    .project-1 a {
        margin-left: 35%;
    }

    .pro-3 {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* ANIMTE */
/* carosel */

/* FORM */
.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-box h3 {
    margin-top: 5%;
}

form {
    margin: 0 2%;
}

.input-field {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 15px;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btn {
    margin-top: 20px;
    margin-left: 32%;
    background-color: #ade8f4;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
}

/* FORM */

/* FOOTER */

.socials h3 {
    margin: 2%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.fa-2x {
    color: black;
}

.yo {
    font-size: 30px;
    transition: 0.6s;
    color: #000;
}

.socials ul {
    text-align: centre;
    display: flex;
    justify-content: space-evenly;
    margin: 0 25% 1%;
    list-style: none;
}

.yo:hover {
    transform: translate(0, -10px);
}

li:nth-child(2) .yo:hover {
    color: #fb3958;
}

li:nth-child(3) .yo:hover {
    color: #1da1f2;
}

li:nth-child(4) .yo:hover {
    color: #FF5700;
}

/* FOOTER */