* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

header {
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo {
    width: 25%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
    margin: 2.5%;
}

nav .menu {
    width: 40%;
    display: flex;
    font-size: 1.5rem;
    margin: 2.5%;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

main {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */
}

section h2 {
    font-weight: 700;
    font-size: 2.5rem;
    border-bottom: 3px solid black;
    letter-spacing: 2px;
}

.about h3 {
    margin-left: 2%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.about p {
    margin-left: 2%;
    font-size: 1rem;
}

.work h3 {
    margin-right: 2%;
    text-align: end;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.work p {
    margin-right: 2%;
    font-size: 1rem;
    text-align: end;
}

.contact-box h3 {
    margin-left: 2%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.contact-box form {}